
<h1>DISPONIBILIDAD ASIENTOS BIBLIOTECA:22    </h1>
<h1> AFORO MAXIMO: 52</h1>
<div class="container">
<div class="divsillaOn"></div>
<div class="divsillaOn"></div>
<div class="divsillaOff"></div>
<div class="divsillaOff"></div>
<div class="divsillaOff"></div>
<div class="divsillaOff"></div>
<div class="divsillaOn"></div>
<div class="divsillaOff"></div>
<div class="divsillaOff"></div>
<div class="divsillaOff"></div>
<div class="divsillaOn"></div>
<div class="divsillaOn"></div>
<div class="divsillaOn"></div>
</div>
<div class="divmesa"></div>
<div class="container">
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOn"></div>
 </div>
 <div class="container">
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOn"></div>
 </div>
 <div class="divmesa"></div>
 <div class="container">
    <div class="divsillaOn"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOn"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
    <div class="divsillaOff"></div>
 </div>
