<section>
    <h2>BOOKS</h2>
    <div *ngIf="bookList.length">
      <figure *ngFor="let book of bookList">
        <ul> 
          <h4>{{ book.title }}</h4>
          <h5>{{ book.author }}</h5>
          <li class='book'>         
          <img (click)="bookDetail(book)" src="{{ book.cover }}" alt="{{ book.title}}" />
        </li>
        <p>Editorial: {{book.publisher}}</p>
        <p *ngIf="book.reservation === 'true'">Disponibilidad: Disponible</p>
        <p *ngIf="book.reservation === 'false'">Disponibilidad: Alquilado</p>
        <p class="malestado" *ngIf="book.state <= 49 "><b>Libro en mal estado</b></p>
        <p class="buenestado" *ngIf="book.state >= 49 "><b>Libro buen estado</b></p>

        
        <button (click)="catchBook(book)">Editar</button>
        </ul>
        </figure>
    </div>
  </section>
 
