<section>
    <h2>Books</h2>
    <div *ngIf="bookList.length">
      <!-- Intentad componentizar este figure para utilizar solamente un <app-figure> en vez de todo este codigo -->
      <figure *ngFor="let book of bookList">
        <h4>{{ book.title }}</h4>
        <h5>{{ book.text }}</h5>
        <img src="{{ book.gallery.src }}" alt="{{ book.gallery.alt}}" />
        <p>Company: {{ book.reservation}}</p>
        <button (click)="catchBook(book)">Edit</button>
      </figure>
    </div>
  </section>
