<h2>USUARIOS</h2>
<section>
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" />
    <div
      *ngIf="
        !userForm.get('username')?.valid &&
        (userForm.get('username')?.dirty || submitted)
      "
    >
      Username tiene que tener un mínimo de 3 caracteres
    </div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
    <div
      *ngIf="
        !userForm.get('password')?.valid &&
        (userForm.get('password')?.dirty || submitted)
      "
    >
     Password tiene que tener un mínimo de 8 caracteres, una mayúscula, una mínuscula, un número y un cáracter especial
    </div>
    <label for="repassword">Repeat Password:</label>
    <input type="password" id="repassword" formControlName="repassword" />
    <div
      *ngIf="
        !userForm.get('repassword')?.valid &&
        (userForm.get('repassword')?.dirty || submitted)
      "
    >
     Este campo tiene que coincidir con la contraseña original
    </div>
  <button type="submit" [disabled]="!userForm.valid">Register</button>
</form>
</section>

 

